@import url("components/card.css");
@import url("components/footer.css");


html, body {
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}

#project {
  background-color: #FAFAFA;
}

.main_title {
  position: absolute;
  top:40vh;
  margin-left: 3.6em;
}

.nav-content {
  padding: 10px 6px;
  color: black;
  font-size: 1.2em;
  margin: 16px 8px;
  opacity: 0.8;
}

.nav-content:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.fa-arrow-circle-up {
  position: absolute;
  top: -4em;
  right: -35em;
  font-size: 1.5em;
  color: #6b9bb7;
  opacity: 0.7;
}

.fa-arrow-circle-up:hover {
  opacity: 1;
}

/*#button {
  background-color: transparent !important;
  color: black !important;
  border-radius: 2px !important;
}

#button:hover {
  background-color: black !important;
  opacity: 0.8 !important;
  color: white !important;
}*/

#brand {
  margin-top: 2.0em;
  height: 9vh;
}

#arrow-down {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
  margin-left: 0.2em;
  margin-top: 1.5em;
}

#arrow_p {
  margin-left: 1em;
  margin-top: 1.5em;
  font-weight: bold;
  font-size: 20px;
}

#arrow-down a {
  text-decoration: none;
  color: black;
}

#arrow-down i {
  font-size: 48px;
  transition: .3s ease-in-out;
}

#arrow-down i:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: .3s ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

#bounce-arrow {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}


@media only screen and (max-width: 760px) {
  .main_title {
    margin-left: 1.5em;
  }

  .el_title, #type_it {
    font-size: 32px;
  }

  .nav-content {
    font-size: 1em;
  }

  .me_content {
    font-size: 1em;
    padding: 0 20px;
  }

  #brand {
    position: static;
    height: 8vh;
    margin-left: 1em;
    margin-top: 1em;
  }

  .fa-arrow-circle-up {
    right: -14em;
    top: -4.5em;
  }









