.project-card {
  background-position: center;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 0 10px;
}

.project-card h4 {
  text-align: center;
  color: #6b9bb7;
  font-weight: bold;
}
.project-card p {
  color: #bbbdbf;
}

#show {
  opacity: 0;
}

.project-card:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #fff;
  background-image: none !important;
  box-shadow: 5px 6px 10px rgba(0,0,0,0.2);
}

.project-card:hover > #show {
  opacity: 1;
}

.show-content a {
  color: black;
  display: block;
  margin: 0 auto;
}

.show-content a:hover {
  text-decoration: none;
  font-weight: bold;
}

.card-content a {
  display: block;
}




