#no-show {
  opacity: 0;
}

.outer-card {
/*  height: 420px;
*/}

.lower-content {
  color: #8b9296;
}

.project-card {
  background-position: center;
  background-size: cover;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 0 10px;
}

.project-card h4 {
  text-align: center;
  color: #6b9bb7;
  font-weight: bold;
}
.project-card p {
  color: #bbbdbf;
}

.project-card:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 5px 6px 10px rgba(0,0,0,0.2);
}

.project-card:hover > #no-show {
  opacity: 1;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

#card_one:hover {
  background-image:linear-gradient(rgba(107,155,183,0.9),rgba(107,155,183,0.9)),url('../../images/cocktail.png') !important;
}

#card_two:hover {
  background-image:linear-gradient(rgba(107,155,183,0.9),rgba(107,155,183,0.9)),url('../../images/limelite.png') !important;
}

#card_three:hover {
  background-image:linear-gradient(rgba(107,155,183,0.9),rgba(107,155,183,0.9)),url('../../images/126.png') !important;
}

.show-content {
  margin-left: 10px;
  margin-bottom: 16px;
}

.show-content h4 {
  margin-bottom: 10px;
  color: #6b9bb7;
  font-weight: bold;
}

.show-content p {
  color: #484b4c;
}

.show-content a {
  color: black;
  display: block;
  margin: 0 auto;
}

.show-content a:hover {
  text-decoration: none;
  font-weight: bold;
}

.card-content a {
  display: block;
}




