.project-card {
  background-position: center;
  background-size: cover;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.project-card h4 {
  text-align: center;
  color: #6b9bb7;
  font-weight: bold;
}
.project-card p {
  color: #bbbdbf;
}

#show {
  opacity: 0;
}

.project-card:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #fff;
  background-image: none !important;
}

.project-card:hover > #show {
  opacity: 1;
}




